@import "reset.css";
@import "colors.css";
@import "typography.css";
@import "wf-blocks.css";
@import "grid.css";
@import "wf-woocommerce.css";


/*--------- Site-Wide Elements -------*/
:root {
  --font-monospace: "Fira Code", "Lucida Console", Monaco, monospace;
  --font-sans-serif: Verdana, Helvetica, sans-serif;
  --font-serif: "Roboto Slab", Georgia, serif;
}

html {
  font-family: var(--font-sans-serif);
  scroll-behavior: smooth;
}

body {
  background: var(--wf-bg);
  color: var(--wf-fg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {padding-bottom: 5rem;}


/*--------- Helper Classes -------*/
.align-left {justify-content: left;}
.align-center {justify-content: center;}
.align-right {justify-content: right;}


/*--------- Footer-------*/

.primary-footer {
	background: var(--wf-contrast);
	color: var(--wf-white);
	margin-top: auto;
	padding: 1rem 0 3rem;
	font-size: .8rem;
}
.primary-footer hr {
	background: var(--wf-primary);
	max-width: 12rem;
	height: 2px;
}
.footer-logo {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
}
.footermenu {
	display: flex;
	justify-content: space-between;
}
.footer-brand img { max-width: 10rem; }

/*--------- Header -------*/
.primary-header {
	background: var(--wf-contrast);
	color: var(--wf-base);
	padding: 1rem 0;
	font-size: 0.8rem;
	text-align: right;
	font-family: var(--font-monospace);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom:2rem;
}

.menu {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	align-items: center;
}

.logo img {
	max-height: 50px;
	display: inline-block;
}
.mainnav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 1.5rem 2rem;
	line-height: 0rem;
}
.shopnav {
	display: flex;
	gap: 1rem;
}
.shopnav .icon {
	min-height: 1.7rem;
}
.header-cart {
	position: relative;	
}
.header-cart .navbar-icon-link-badge {
	position: absolute;
	top: -.2rem;
	left: -.4rem;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background: var(--wf-gray-light);
	color: var(--wf-contrast);
	font-size: 0.6rem;
	font-weight: 700;
	text-align: center;
	line-height: 1rem;
}
.menusearch { 
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

	/* see https://codepen.io/sosuke/pen/Pjoqqp for filter calculation */
.filter-primary { 
	filter: invert(66%) sepia(21%) saturate(1011%) hue-rotate(298deg) brightness(99%) contrast(96%);
} 

/*--------- Buttons -------*/
button, .btn, .button {
	background-color: var(--wf-contrast);
	color: var(--wf-base);
	border-radius: 5px;
	border: none;
	padding: .5em 1em;
}

button:hover, .btn:hover, .button:hover,
button:focus, .btn:focus, .button:focus {
	background-color: var(--wf-gray-dark);
}


.btn-primary {
	background-color: var(--wf-primary-dark);
}

.btn-primary:hover, .btn-primary:focus {
	background-color: var(--wf-primary);
}

