
.woocommerce-info {
  width: 100%;
  text-align: center; }

.products-info-section {
  justify-content: space-between; }

.woocommerce .products .star-rating {
  margin: .5em auto; }

.woocommerce .product .images img {
  width: auto !important;
  max-height: 40rem; }

.woocommerce .product .woocommerce-tabs ul.tabs li a {
  padding: .5em 0 0;
  color: #6c757d;
  font-size: 1rem; }

.woocommerce .quantity .qty {
  height: 3rem; }

.woocommerce .single_add_to_cart_button {
  width: 70%; }

.woocommerce .row, .woocommerce .product-type-variable, .woocommerce .product-type-simple, .woocommerce .related, .woocommerce .wc-tabs-wrapper ul.tabs.wc-tabs, .wc-tabs-wrapper .woocommerce ul.tabs.wc-tabs {
  margin: 0; }

.summary.entry-summary form.cart {
  top: 4.7rem;
  background: white;
  padding: 1rem 0 3rem;
  z-index: 500;
  border-bottom: 1px solid gray; }

.related {
  margin-top: 5rem; }

.related {
  width: 100%; }
  .related .products {
    width: 100%;
    justify-content: center; }
    .related .products .product {
      max-width: 17rem; }
      .related .products .product h2 {
        font-size: 1rem; }

.product_title.entry-title {
  width: 100%;
  text-align: center; }

.wc-tabs-wrapper {
  margin-top: 5rem; }
  .wc-tabs-wrapper ul.tabs.wc-tabs {
    padding-left: 0;
    justify-content: space-between; }
    .wc-tabs-wrapper ul.tabs.wc-tabs li {
      list-style: none;
      text-align: center;
      border-bottom: 1px solid #e9ecef; }
      .wc-tabs-wrapper ul.tabs.wc-tabs li.active, .wc-tabs-wrapper ul.tabs.wc-tabs li:hover, .wc-tabs-wrapper ul.tabs.wc-tabs li:focus {
        border-bottom: 3px solid #ced4da; }
      .wc-tabs-wrapper ul.tabs.wc-tabs li a, .wc-tabs-wrapper ul.tabs.wc-tabs li a:hover, .wc-tabs-wrapper ul.tabs.wc-tabs li a:focus {
        text-decoration: none; }
  .wc-tabs-wrapper .panel {
    min-height: 10rem; }

.woocommerce aside#sidebar ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }

.widget_product_categories .product-categories > .cat-item > a:hover, .widget_product_categories .product-categories .cat-item > a:focus {
  border-bottom: 1px solid #ced4da; }

.widget_product_categories .product-categories .cat-item {
  display: block;
  padding: .5rem 1rem .5rem 0;
  margin-bottom: .5rem; }
  .widget_product_categories .product-categories .cat-item.current-cat.cat-parent > a {
    border-bottom: 1px solid #ced4da; }
  .widget_product_categories .product-categories .cat-item.current-cat > a {
    border-bottom: 1px solid #ced4da; }
  .widget_product_categories .product-categories .cat-item a {
    text-decoration: none; }
  .widget_product_categories .product-categories .cat-item .children {
    margin-bottom: 0;
    padding-top: 1rem; }
    .widget_product_categories .product-categories .cat-item .children .cat-item {
      padding-left: 1.5rem;
      max-width: 12rem; }
      .widget_product_categories .product-categories .cat-item .children .cat-item.current-cat a,
      .widget_product_categories .product-categories .cat-item .children .cat-item:hover a {
        border-bottom: 1px solid #ced4da; }
    .widget_product_categories .product-categories .cat-item .children .cat-item:last-of-type {
      margin-bottom: 0; }

.woocommerce div.product {
  padding-bottom: 30px; }

.woocommerce div.product p.price, .woocommerce div.product span.price {
  display: block; }

.woocommerce .woocommerce-breadcrumb {
  text-align: center;
  margin-top: 2rem;
  width: 100%; }

.woocommerce-products-header {
  margin-bottom: 3rem;
  width: 100%;
  text-align: center; }
  .woocommerce-products-header .woocommerce-products-header__title {
    width: 100%; }
  .woocommerce-products-header .term-description {
    width: 100%; }

.header-cart {
  position: relative; }

.navbar-icon-link-badge {
  position: absolute;
  top: -5px;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 0.6rem; }

.product:hover .onsale {
  padding-left: 1.5em;
  padding-right: 1.5em;
  transition: all 400ms ease; }

.onsale {
  background-color: #333;
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: inline-block;
  padding: .5em 1em;
  font-size: 13px;
  font-size: .8125rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff; }
  .onsale:before {
    content: '';
    border-left: 15px solid transparent;
    border-right: 0 solid transparent;
    border-top: 14px solid #000;
    position: absolute;
    bottom: -14px;
    left: 0; }
  .onsale:after {
    content: "";
    position: absolute;
    bottom: 0;
    border: 16px solid #333;
    border-left-width: 2px;
    border-right: 8px solid transparent;
    right: -10px;
    display: block; }

.woocommerce-loop-product__title {
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0; }

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: #333;
  color: #fff; }

.woocommerce .widget_price_filter .price_slider_amount {
  font-size: .7em; }

.woocommerce .woocommerce-checkout .col2-set, .woocommerce .woocommerce-checkout #order_review {
  width: 100%; }

.woocommerce .woocommerce-checkout .col-1, .woocommerce .woocommerce-checkout .col-2 {
  float: none;
  width: 100%; }

.woocommerce .woocommerce-checkout .woocommerce-input-wrapper {
  width: 100%; }

.woocommerce .woocommerce-checkout #order_review_heading {
  display: none; }

.woocommerce .woocommerce-checkout #order_review {
  background-color: #ffffff; }
  .woocommerce .woocommerce-checkout #order_review table:not(.has-background) th {
    background-color: #f8f8f8; }
  .woocommerce .woocommerce-checkout #order_review table.shop_table,
  .woocommerce .woocommerce-checkout #order_review table.shop_table tbody th,
  .woocommerce .woocommerce-checkout #order_review table.shop_table tfoot td,
  .woocommerce .woocommerce-checkout #order_review table.shop_table tfoot th,
  .woocommerce .woocommerce-checkout #order_review table.shop_table td {
    border: none; }

@media (min-width: 992px) {
  .woocommerce .woocommerce-checkout {
    display: flex;
    justify-content: space-between; }
    .woocommerce .woocommerce-checkout .col2-set, .woocommerce .woocommerce-checkout #order_review {
      width: 48%; } }

.woocommerce form .form-row {
  margin-bottom: 1.2rem; }
  .woocommerce form .form-row label {
    line-height: 1.3rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: gray; }
  .woocommerce form .form-row input.input-text {
    height: 3rem; }

.woocommerce .woocommerce form .form-row-wide, .woocommerce .woocommerce-page form .form-row-wide {
  display: block; }

.woocommerce .woocommerce-info {
  border-top-color: #8a8075; }

.woocommerce .woocommerce-info::before {
  color: #8a8075; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #8a8075; }

.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
  display: block; }

.wdi_photo_overlay .svg-inline--fa.fa-w-16 {
  display: none !important; }

.wdi_feed_thumbnail_1 .wdi_feed_container {
  background-color: transparent !important;
  border-bottom: none !important; }

.wdi_feed_thumbnail_1 .wdi_photo_wrap_inner {
  border: none !important;
  background-color: transparent !important;
  margin: 8px !important; }

.wdi_feed_theme_1 .wdi_feed_wrapper {
  background-color: transparent !important; }


