
@font-face {
    font-family: 'fette_fraktur';
    src: url('../fonts/fette-gam-fraktur-webfont.woff2') format('woff2'),
         url('../fonts/fette-gam-fraktur-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'zombie_punks';
    src: url('../fonts/zombiepunksregular-webfont.woff2') format('woff2'),
         url('../fonts/zombiepunksregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
