.pb-section {
	margin-bottom: 20px;
}
.bg-light {

	background: var(--wf-white);
}

.services, .products, .accordions, .brands, .teasers {
	display: flex;
	justify-content: space-between;
	gap: 10px 20px;
	flex-direction: column;
}

.service .product, .accordion, .brand, .teaser {
	flex-grow: 1;
	flex-basis: 1;
	width: 100%;
}

@media (min-width: 768px) {
	.services, .products, .accordions, .brands, .teasers {
		flex-direction: row;
	}
	.service .products, .accordion, .brand, .teaser {
		flex-basis: 0;
	}
}
/* --------- HEROBANNER --------- */

.herobanner-block,
.herobanner-element {
	overflow: hidden;
	background: #6c757d;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f8f9fa;
	text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.6); 
	padding: 10px;
	height: 450px;
}
.herobanner_small .herobanner-element {
	height: 300px;
}

/* --------- TEASER --------- */

.teaser {
	width: 100%;
}

.teaser a:hover,
.teaser a:focus {
	text-decoration: none;
	cursor: pointer; 
}

.teaser-element {
	overflow: hidden;
	background: #6c757d;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f8f9fa;
	text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.6); 
	padding: 10px;
	height: 150px;
	opacity: 0.95;

}

.teaser-link:hover, .teaser-link:focus {
	opacity: 1;
	transform: scale(1.005);
cursor: pointer; }

.teaser-element > h2 {
	filter: drop-shadow(0 0 30px #333); 
}

@media (min-width: 768px) {
	.teaser_small .teaser-element { height: 200px; } 
	.teaser-element {height: 300px; } 
}


/* --------- ACCORDION --------- */


.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
} 

.tabs {
  border-radius: 5px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background: var(--wf-primary);
	font-weight: bold;
	cursor: pointer;
}
	/* Icon */
.tab-label:hover { background: var(--wf-primary-dark); }
.tab-label:after {
		content: "\276F";
		width: 1em;
		height: 1em;
		text-align: center;
		transition: all .35s;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: var(--wf-primary);
    background: white;
    transition: all .35s;
  }

.accordion input:checked + .tab-label {
    background: var(--wf-primary-dark);
  }

.accordion input:checked + .tab-label:after {
      transform: rotate(90deg);
    }

.accordion input:checked  ~ .tab-content {
	max-height: 100vh;
	padding: 1em;
}


/* --------- SERVICES --------- */


