/*--------- Archive / Shop Page -------*/

@media (min-width: 500px) {
	.wf-page-with-sidebar {
		display: flex;
		flex-direction: row-reverse;
		gap: 2rem;
	}
	:root {
		--wf-sidebar-width: 8rem;
	}
	aside.sidebar {
		width: var(--wf-sidebar-width);	
	}
	body:not(.single-product) .woocommerce-products-header {
		margin-left: calc(var(--wf-sidebar-width) * -1);
	}
	body:not(.single-product) .woocommerce-breadcrumb {
		margin-left: calc(var(--wf-sidebar-width) * -1);
	}
}

aside.sidebar {
	font-size: .8rem;
}
aside.sidebar h2.wp-block-heading {
	font-size: 2.2rem;
	margin-left: -1rem;
	color: var(--wf-gray-dark)
}
aside.sidebar h3.wp-block-heading {
	font-size: 1rem;
}
.wf-page-with-sidebar > .content-area {
	flex: 1;
}
.shop-sidebar {
	margin-top: 7rem;	
}
.woocommerce-products-header {
	margin-bottom: 2rem;
	line-height: 1;
}
.woocommerce-result-count, .woocommerce-ordering {
	display: none;
}
.woocommerce-breadcrumb {
	margin-bottom: 0;
	text-align: center;
	color: var(--wf-gray-light);
}

/*--- Categories List Widget---*/
.wc-block-product-categories-list {
	color: var(--wf-gray-light);
	font-size: 1rem;
}
.wc-block-product-categories-list-item__name{
	margin-bottom: .3rem;
	display: inline-block;
}
.wc-block-product-categories-list--depth-1 {
	padding-left: .5rem;
	border-left: 4px solid var(--wf-gray-extralight);
}
.wc-block-product-categories-list--depth-2 {
	padding-left: 1rem;
}
/*--------- Shop Products Grid  -------*/
ul.products {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}


ul.products .product {
	max-width: 25%;
	position: relative;
	min-width: 10rem;
	flex: 1;
}
ul.products .product img{
	border-radius: var(--wf-br);
}

.edit-post-visual-editor .editor-block-list__block .wc-block-grid__product-title, .editor-styles-wrapper .wc-block-grid__product-title, .wc-block-grid__product-title {
font-family: var(--font-special2);
  line-height: 1;
}

.woocommerce-LoopProduct-link 
.woocommerce-loop-product__title {

	transform: rotate(-0deg);
	font-size: 1.2rem !important;
	text-shadow: 0px 1px 20px rgba(0, 0, 0, .0); 
	margin-top: -1.5rem !important;
	color: var(--wf-gray-dark);
} 
.woocommerce ul.products li.product .price  {
	position: absolute;
	top:-.5rem;
	left: -.8rem;
	transform: rotate(-10deg);
	font-family: var(--font-special2);
	font-size: 1.3rem;
	color: var(--wf-gray-dark);
	line-height: .6;
	background: var(--wf-gray-extralight);
	padding: .2rem .4rem .4rem;
}
.woocommerce ul.products li.product .price del {
	display: block;
	font-size: 1.3rem;
}
.woocommerce ul.products li.product .price ins {
	text-decoration: none;
}
.woocommerce span.onsale {
	background-color: var(--wf-primary);
	display: none;

}
/*--------- Woocommerce-Blocks -------*/
/* (for Products Grids on Homepage etc) */
.wc-block-grid__products {
	  justify-content: center;
}

.wc-block-grid__product {
	position: relative;
}
.wc-block-grid__product .price {
	position: absolute;
  top: -.6rem;
  left: -.7rem;
  font-family: var(--font-special2);
  color: var(--wf-gray-dark);
  font-size: 1.5rem;
  transform: rotate(-7deg);
  background: var(--wf-gray-extralight);
  padding: .2rem .5rem;
  opacity: .9;
}
.wc-block-grid__product-image img {
	border-radius: var(--wf-br-small);
}



.wp-block-button__link {
	background: var(--wf-primary);
	border-radius: var(--wf-br);
}



/*--------- single Products -------*/

.single-product .product_meta {
	display: flex;
	flex-direction: column;
	font-size: .7rem;
	color: var(--wf-gray-extralight);
}  


.woocommerce-Tabs-panel h2:first-child {
	display: none;
}


.single-product .entry-summary p.price {
	color: var(--wf-black) !important;
	background: var(--wf-gray-extralight)!important;
  padding: 0 2rem;
  font-family: var(--font-special2);
  font-size: 2rem !important;
  background: var(--wf-primary);
  display: inline-block;
  opacity: .7;
}	

table.variations {
	padding: 0;
}

.woocommerce div.product form.cart table {
	padding: 0;
  margin: 0 0 1.5rem;
}

.woocommerce-variation-add-to-cart {
	display: flex;
}

.woocommerce div.product form.cart div.quantity {
  float: none;
}

.woocommerce div.product div.images .flex-control-thumbs {
	margin-top: .5rem;
	display: flex;
	gap:.5rem;
	justify-content: space-between;
}
.woocommerce div.product div.images .flex-control-thumbs li {
	width: 23%;
}
.woocommerce-product-gallery__image {
	border-radius: var(--wf-br-small);
}
.woocommerce div.product div.images .flex-control-thumbs img {
	border-radius: var(--wf-br-small);
}
.woocommerce-tabs {
	max-width: 70ch;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin-bottom: 1rem;
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: var(--wf-gray-extralight);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border: none;
	background-color: transparent;
	font-family: var(--font-special2);
	color: var(--wf-primary);
	padding-left: .1rem;
 font-size: 1rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
 text-decoration: underline;	
 font-size: 2rem;
	color: var(--wf-primary);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border: none;
}
.related h2{
 margin-bottom: 1rem;;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-weight: normal;
	padding: 0;
	color: var(--wf-gray-dark) !important;
}
.related ul.products {
	background: var(--wf-white);
	padding: 2rem;
}
.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product,
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: none;
	margin: 0;
}

.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes {border:none}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt.disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt.disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:disabled[disabled], .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:disabled[disabled]:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt.disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt.disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:disabled[disabled], .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:disabled[disabled]:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt.disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled[disabled], .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:disabled[disabled]:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt.disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt.disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:disabled, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:disabled:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:disabled[disabled], .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:disabled[disabled]:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt.disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt.disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt:disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt:disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt:disabled[disabled], :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt:disabled[disabled]:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt.disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt.disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt:disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt:disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt:disabled[disabled], :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt:disabled[disabled]:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt.disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt.disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt:disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt:disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt:disabled[disabled], :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt:disabled[disabled]:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt.disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt.disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt:disabled, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt:disabled:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt:disabled[disabled], :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt {
  background-color: var(--wf-primary);
  color: var(--wf-white);
}
.single_add_to_cart_button.button:hover, 
.single_add_to_cart_button.button:focus {
  background-color: var(--wf-primary-dark) !important;
}

.wc-block-components-notice-banner.is-success {
  background-color: var(--wf-white) !important;
  border-color: var(--wf-gray-extralight) !important;
	border: none;
}

.wc-block-components-notice-banner.is-success > svg {
	background-color: var(--wf-primary) !important;

}

.related.products{
	clear: both;
}
	

.wc-block-cart__submit-container {

}
